a {
    text-decoration: none;
}

.et-hero-tabs, .et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    position: relative;
    background: white;
    text-align: left;
    padding: 0;

}

.baseball-title {
    
    background-size: cover;
    color: white
}

.et-hero-tab-title, .et-slide-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    position: relative;
    background: white;
    text-align: left;
    padding: 0;

}


.et-slide-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* Use this to change section2 container height */
    height: 200vh;
    position: relative;
    background: white;
    text-align: center;
    padding: 0;
    

}

.et-slide-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: white;
    text-align: center;
    padding: 0 2em;
    margin-top: 34vh;
    margin-bottom: 10rem;

}

.et-slide-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    position: relative;
    background: white;
    text-align: left;
    padding: 0 ;
    margin-top: -100vh;
    margin-bottom: 10vh;
}

.et-slide {
    position: relative;
    
}

.header-container {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    flex-direction: row;
    margin-top: 5vh;
    background-color: white;
}
.header-container-1 {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    flex-direction: row;
    margin-top: vh;
    background-color: white;
    overflow: auto;
}
.header-container-5 {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    flex-direction: row;
    margin-top: 10vh;
    background-color: white;
}

.header-container-2 {
    position: relative;
    width:100%;
    text-align: left;
    margin-top: 400vh;
    
}
.et-hero-tabs h1, .et-slide h1 {
    font-size: 2rem;
    margin: 10;
    letter-spacing: 0.6rem; /* You can decrease this value to reduce letter-spacing */
}

.et-hero-tabs h3, .et-slide h3 {
    font-size: 1rem;
    opacity: 0.6;

    letter-spacing: 0.3rem; /* You can decrease this value to reduce letter-spacing */
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem; /* You can decrease this value to reduce letter-spacing */
    transition: all 0.5s ease;
    font-size: 0.8rem;
}
.et-hero-tabs-container {
    
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    margin-left: 0;
    

}

.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
}




.content-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align children to the top of the container */
    padding-top: 1em; /* Space below header container */
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height, or you can use "auto" if you prefer */
    overflow: visible; /* Enable full component display */
    flex-direction: row;
    
}


.content-container-3 {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-top:1em; /* Space below header container */
    width: 100%;
    height: auto; /* Allow the container to adjust its height according to its content */
    overflow: visible; /* Enable full component display */
    flex-direction: column;
    margin-bottom: 100vh;
    background-color: white;

}

.content-container-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1em; /* Space below header container */
    width: 100%;
    height: auto; /* Allow the container to adjust its height according to its content */
    overflow: visible; /* Enable full component display */
    flex-direction: column;
    margin-top: vh;
    margin-bottom: 150vh;
    
    
}

.content-container-5 {
    display: flex;
    justify-content: space-between;
    
    padding-top:1em; /* Space below header container */
    width: 100%;
    height: auto; /* Allow the container to adjust its height according to its content */
    overflow: visible; /* Enable full component display */
    flex-direction: column;

}
.content-container-10 {
    margin-top: 5vh;
}
.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}

/* position for 3d HTML comp*/
.figure-description {
    position: relative;
     
    left: 0; 
    font-weight: bold;
    /* other styles... */
  }

/* .slide2{
    margin-top: 100vh;
    
} */

.et-hero-tab:hover {
    color:white;
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}


.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .image-container img {
    flex: 1 0 auto;
    margin: 10px;
    max-width: calc(33% - 20px);
    height: auto;
  }
  
@media (min-width: 500px) {
    .et-hero-tabs h1, .et-slide h1, .et-slide-2 h1 {
        font-size: 3rem;
        letter-spacing: 0.01rem;
        padding-top: 20px;
        
        
    }
    .et-hero-tabs h3, .et-slide h3, .et-slide-2 h3 {
        font-size: 1rem;
        letter-spacing: 0.05rem;
        word-spacing: 0.1rem;
    }
    .et-hero-tab {
        font-size: 1rem;
    }
    .content-container-2 {
        flex-direction: column;
    }
    .content-container{
        flex-direction: row;
    }
}
@media (min-width: 800px) {
    .header-container {
        flex-direction: row;
    }

}
.htmlcomp-container {
    margin-bottom: 10vh;
}

.section1 {
    overflow:auto;
}
