@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" );
/* Typewriter.css */
.page1-typewriter-line-1 {
  position: absolute;
  top: 7%;
  right: 50%;
  width: 80vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
.page1-typewriter-line-2 {
  position: absolute;
  top: 11%;
  right: 27%;
  width: 80vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
.page1-typewriter-line-3 {
  position: absolute;
  top: 15%;
  right: 25.5%;
  width: 80vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
.page1-typewriter-line-4 {
  position: absolute;
  top: 19%;
  right: 29.5%;
  width: 80vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
/* typewriter animation-1*/
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter-1 {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter-2 {
  animation: typewriter 4s steps(44) 2.3s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter-3 {
  animation: typewriter 4s steps(44) 4.3s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter-4 {
  animation: typewriter 4s steps(44) 6s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.textReveal-reveal-profile,
.textReveal-reveal-profile::after {
  animation-delay: 0;
  /*Use this to add title text delay effect*/
  animation-delay: var(--animation-delay, 3s);
  animation-iteration-count: 1;
  animation-iteration-count: var(--iterations, 1);
  animation-duration: 800ms;
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.textReveal-reveal-profile {
  position: absolute; /* Make it absolute */
  top: 37%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Correct positioning based on its width and height */
  font-size: 1.1vw;
  text-align: left;
  animation-name: text;
  color: #fff;
  font-family: 'Russo One', sans-serif;
  white-space: nowrap;
  cursor: default;
  text-transform: uppercase;
  word-spacing: 4px;   /* Space between words */
  line-height: 1.8;    /* Space between lines, relative to the font size */
}

.textReveal-reveal-profile::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f98b;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer;
}

@keyframes text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.textEffect-typeWriter {
  font-family: "Russo One", sans-serif;
  position: absolute;
  top: 0;
  z-index: 1; /* This ensures the navigation stays on top of other elements */
  color: white; /* Set the font color to white */
  font-size: 3.3vw;
  margin-left: 15px;
  top:54.2vh;
}