/* Typewriter.css */
.page1-typewriter-line-1 {
  position: absolute;
  top: 7%;
  right: 50%;
  width: 2vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
.page1-typewriter-line-2 {
  position: absolute;
  top: 11%;
  right: 27%;
  width: 80vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
.page1-typewriter-line-3 {
  position: absolute;
  top: 15%;
  right: 25.5%;
  width: 80vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
.page1-typewriter-line-4 {
  position: absolute;
  top: 19%;
  right: 29.5%;
  width: 80vw; /* updated */
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 1.8vw; /* updated */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: "Arial Black", sans-serif; /* added */
  color: white;
}
/* typewriter animation-1*/
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter-1 {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter-2 {
  animation: typewriter 4s steps(44) 2.3s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter-3 {
  animation: typewriter 4s steps(44) 4.3s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter-4 {
  animation: typewriter 4s steps(44) 6s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 80vw; /* updated */
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.container-8 {
  top: 19%;
  right: 20%;
}
