/* Define the variables */
.article-vertical-menu-wrapper {
  max-width: 230px;
  margin: 50px auto;
  display: flex;
  position: relative;
}

.active-marker-article {
  transition: transform 0.4s;
  width: 5px;
  background-image: linear-gradient(90deg, #ff5e5e, #f54985);
  background-size: 100%;
  height: 30px;
  margin-left: 7px;
  transform: translateY(0px);
}

.article-vertical-menu-item {
  font-size: 1.1em;
  color: #fff;
  transition: all 0.4s;
  height: 41px; /* previously defined as a variable */
  text-align: right;
}

.article-vertical-menu-item.is-active-article {
  font-size: 1.4em;
}

.link--inverse-menu-article {
  color: #fff;
  text-decoration: none;
}

.link--inverse-menu-article:visited {
  color: #fff;
}

.link--inverse-menu-article:hover,
.link--inverse-menu-article:active {
  color: #d3d3d3;
}

.ul--reset-article {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article-vertical-menu {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  width: 220px;
}
